@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Parisienne&display=swap');

/*--------------------------------- Background images/colors */
/*CREDIT Image:https://unsplash.com/photos/TCl6He6cjY4*/

html, body {
    height: 100%;
}

/*CREDIT Background:https://css-tricks.com/perfect-full-page-background-image/*/
.bg-home, .bg-thecouple {
    background: url(https://images.unsplash.com/photo-1572248525872-ac574b2bf06d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-thedetails {
    background: url(https://images.unsplash.com/photo-1522518961115-07c922089dd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-rsvp {
    background: url(https://images.unsplash.com/photo-1521515428649-7f27b37d88f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.index-name {
    font-family: 'Parisienne', cursive;
    font-size: 5em;
}
/*--------------------------------- Colors */

.page-footer-bg-color {
    background-color: rgba(255, 255, 255, 0.712);
}



/*--------------------------------- Navbar */

nav {
    margin-right: 10px;
    font-size: 1em;
    font-family: 'Libre Franklin', sans-serif;
}

.vertical-line {
    /*border-left: 1.5px solid rgb(26, 26, 26);*/
    margin-right: 14px
}

.navbar-nav{
    float: right!important;
}

.navbar-toggler {
    border: none;
}

/*--------------------------------- Buttons */

.btn-invitation {
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 14px;
    border: 2px solid rgba(218, 218, 218, 0.815);
    font-size: 18px;
}

.btn-thecouple {
    border: 2px solid #aaaaaa;
    border-radius: 14px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.btn-thedetails {
    margin-top: px;
    margin-bottom: 40px;
    border-radius: 14px;
    border: 2px solid rgba(218, 218, 218, 0.815);
    font-size: 18px;
}

/*--------------------------------- The couple text */

.bride-groom {
    margin-top: 60px;
    text-align: center;
    max-width: 300px;
    font-family: 'Libre Franklin', sans-serif;
}

.title-top {
    text-align: center;
    margin-top: 30px;
    font-size: 4em;
    font-family: 'Parisienne', cursive;
}

.bridegroom-list {
    text-align: left;
    list-style-type: none;
}

.bridegroom-list i {
    font-size: 1.5em;
}

.how-met h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'Parisienne', cursive;
}

.how-met {
    text-align: center;
    border-radius: 14px;
    font-family: 'Libre Franklin', sans-serif;
}

.bridegroom-img {
    margin-bottom: 13px;
    width: 70%;
}

.bride-groom h3 {
    font-family: 'Parisienne', cursive;
    font-size: 3em;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.thecouple-bg {
    background-color: #ffe2e2b2;
    border: 2px solid #f6f6f6;
    border-radius: 14px;
    margin-top: 20px;
    padding-bottom: 70px;
    max-width: 70%;
}

/*--------------------------------- RSVP */

.rsvp-title-bottom {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

.rsvp-form {
    margin-top: 20px;
    width: 50%;
    margin-bottom: 50px;
    font-family: 'Libre Franklin', sans-serif;
    border: 2px solid #f6f6f6;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.849);
}

/*--------------------------------- Footer */

.page-footer {
    height: 40px;
}

.socials-footer {
    text-align: center;
    font-size: 1.5em;
}

.socials-footer i {
    margin-right: 7px;
    margin-left: 7px;
    color: #888888;
}

/*CREDIT for Hover: https://ianlunn.github.io/Hover/#effects*/

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: rgba(255, 255, 255, 0);
    color: #000;
}

/*--------------------------------- The Details */

.details-where-when {
    margin-top: 20px;
    text-align: center;
    border: 2px solid #f6f6f6;
    border-radius: 14px;
    max-width: 85%;
    background-color: #ffe2e2c7;
    margin-bottom: 30px;
    max-width: 70%;
}

.details-map {
    margin-top: 60px;
    
}

.details-get-there {
    background-color: #ffc7c7d2;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid #f6f6f6;
    border-radius: 14px;
    max-width: 85%;
}

.schedule-title {
    text-align: center;
    font-family: 'Parisienne', cursive;
}

.details-get-there h1 {
    margin-bottom: 40px;
    font-family: 'Parisienne', cursive;
}

.details-where-when div i {
    font-size: 3.5em;
    margin-bottom: 25px;
    margin-top: 15px;
}

.details-where-when div p {
    font-size: 1.25em;
}

.details-gallery img {
    margin-top: 8px;
    margin-bottom: 20px;
    vertical-align: middle;
    width: 50%;
    border: 2px solid #fff;
}

/*--------------------------------- Schedule */
/* CREDIT: https://bootsnipp.com/snippets/xrKXW*/

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.schedule-section {
    background-color: #f6f6f6ce;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    margin-top: 30px;
    max-width: 75%;
    border: 2px solid #fff;
    border-radius: 14px;
}

.schedule-times {
    margin-left: px;
}

/* CREDIT vertical line: https://www.geeksforgeeks.org/how-to-make-a-vertical-line-using-html*/

.vertical {
    border-left: 1px solid rgba(0, 0, 0, 0.226); 
    height: 50px; 
    position:inherit; 
    left: 50%;
}

/* Fade in invitation text*/
/* CREDIT: https://blog.hubspot.com/website/css-fade-in with adjustments by myself*/
/* BUG fixed: white space on bottom, added padding-bottom */

.invitation {
    font-family: 'Libre Franklin', sans-serif;
    color: black;
    text-transform: none;
    opacity: 0.0;
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    text-align: center;
    margin-top: 50px;
    animation-fill-mode: forwards; 
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.hr-invitation {
    width: 150px;
}

.map-responsive{
    margin-bottom: 10%;
    padding-bottom: 30%;
    position: relative;
    height: 0;
}
.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}