/*--------------------------------- Background hero image */
/* need to update to local link of image*/
/* https://www.freecodecamp.org/news/css-full-page-background-image-tutorial/ */
html, body {
    height: 100%;
    width: 100%;
    background-color: #d2e1c8;
    /*background-image: url(https://images.unsplash.com/photo-1577789054519-b3035748df6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2651&q=80);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*--------------------------------- Colors */

.jumbotron-bg-color {
    background-color: rgba(255, 255, 255, 0.651);
}

.jumbotron-btn-bg-color {
    color: black;
    background-color: #fff;
}

.page-footer-bg-color {
    background-color: #fff;
}

.btn-couple {
    margin-bottom: 70px;
    margin-top: 30px;
}

/*--------------------------------- Navbar */

nav {
    margin-right: 10px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.vertical-line {
    border-left: 1.5px solid rgb(26, 26, 26);
    margin-right: 14px
}

.navbar-nav{
    float: right!important;
}

/*--------------------------------- Jumbotron homepage */

.jumbotron {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    border: 4px solid #fff;
}

.jumbotron-date {
    font-size: 2.5em;
}

.jumbotron-location {
    font-size: 20px;
    font-weight: 300;
}

/*--------------------------------- Buttons */

.btn-jumbotron {
    border-radius: 14px;
    width: 25%;
}

/*--------------------------------- The couple text */

.bride-groom {
    margin-top: 60px;
    text-align: center;
    max-width: 300px;
}

.title-thecouple {
    text-align: center;
    margin-top: 30px;
}

.bridegroom-list {
    text-align: left;
    list-style-type: none;
}

.bridegroom-list i {
    font-size: 1.5em;
}

.how-met {
    text-align: center;
    max-width:
}

.how-met h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.bridegroom-img {
    margin-bottom: 13px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*--------------------------------- Footer */

.page-footer {
    height: 40px;
}

.socials-footer {
    float: right;
    margin-right: 15px
}

.copyright-footer {
    margin-left: 15px;
}

.copyright-footer i {
    font-size: 1.75em;
}

