/*--------------------------------- Background hero image */
/* need to update to local link of image*/
/* https://www.freecodecamp.org/news/css-full-page-background-image-tutorial/ */
html {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1577789054519-b3035748df6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2651&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*--------------------------------- Navbar */

nav {
    margin-right: 10px;
    font-size: 1em;
}

.vertical-line {
    border-left: 1.5px solid rgb(26, 26, 26);
    margin-right: 14px
}